<% content_for :head do %>
  <title>jonathan cipriano</title>
<% end%>

<h1>jonathan cipriano</h1>

<ul class="hlist social">
  <li><a href="http://www.facebook.com/jonathan.cipriano" target="_blank"><img src="images/facebook.jpg" alt="" /></a></li>
  <li><a href="http://www.flickr.com/photos/jcipriano/" target="_blank"><img src="images/flickr.jpg" alt="" /></a></li>
  <li><a href="https://github.com/jcipriano" target="_blank"><img src="images/github.jpg" alt="" /></a></li>
  <li><a href="http://www.linkedin.com/in/jcipriano" target="_blank"><img src="images/linkedin.jpg" alt="" /></a></li>
  <li><a href="http://https://soundcloud.com/redblind" target="_blank"><img src="images/soundcloud.jpg" alt="" /></a></li>
  <li><a href="https://twitter.com/#!/joncipriano" target="_blank"><img src="images/twitter.jpg" alt="" /></a></li>
  <li><a href="https://vimeo.com/jcipriano" target="_blank"><img src="images/vimeo.jpg" alt="" /></a></li>
</ul>