
			<!-- Footer -->
			<footer id="contact">
        <div class="container">
           <div class="row">
              <div class="span12">
                <ul class="social-links">
                  <li><a class="social email" href="http://www.google.com/recaptcha/mailhide/d?k=01PeWBNEe0L9lhiv482MfKvQ==&amp;c=Om403JPeVJVbUwPuNItSk0fP8XBtxHjUupVWS67lHAc=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501PeWBNEe0L9lhiv482MfKvQ\75\75\46c\75Om403JPeVJVbUwPuNItSk0fP8XBtxHjUupVWS67lHAc\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Email</a></li>
                  <li><a class="social gplus" href="https://plus.google.com/+JonathanCiprianoSF/posts" target="_blank">Google+</a></li>
                  <li><a class="social twitter" href="https://twitter.com/joncipriano" target="_blank">Twitter</a></li>
                  <li><a class="social linkedin" href="https://www.linkedin.com/in/jcipriano" target="_blank">Linkedin</a></li>
                  <li><a class="social vimeo" href="https://vimeo.com/jcipriano/videos" target="_blank">Vimeo</a></li>
                  <li><a class="social flickr" href="http://www.flickr.com/photos/jcipriano/" target="_blank">Flickr</a></li>
                  <li><a class="social github" href="https://github.com/jcipriano" target="_blank">Github</a></li>
                </ul>
              </div>
              <div class="span2">
              </div>
              <div class="span7">
              </div>
           </div>
        </div>
      </footer>
			<!-- /Footer -->
