<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
{{#production}}
		<link href="../css/main.min.css" rel="stylesheet">
		<link href="/css/main-responsive.min.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.min.js"></script>
		<![endif]-->
{{else}}
		<link href="/css/main.css" rel="stylesheet">
		<link href="/css/main-responsive.css" rel="stylesheet">
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="../js/vendor/html5shiv.js"></script>
		<![endif]-->
{{/production}}
	</head>

	<body>

		{{>header}}

		{{>herounit}}

		<div id ="project-view" class="container">
			{{>body}}
		</div>

		{{>experience}}

		{{>footer}}


		<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
{{#production}}
		<script src="/js/frontend.min.js"></script>
{{else}}
		<script src="/js/frontend.js"></script>
{{/production}}

	</body>
</html>
