
#home {
  position: relative;
  background-color: #EEE;
  padding: 100px 0;

  #vis-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  h1 {
    position: relative;
    .first-name {
      font-weight: 400;
    }
  }

  p {
    position: relative;
    color: #666;
    max-width: 800px;
  }
}

@media (max-width: 480px) {
  #home {
    padding: 50px 0;
  }
}

@media (max-width: 766px) {
  #home {
    padding: 50px 0;
  }
}

@media (min-width: 767px) {

}

@media (min-width: 768px) and (max-width: 979px) {

}

@media (min-width: 1200px) {

}