#project-view {

  .project {
    padding-top: 50px;

    .media-object {
      background-color: #CCC;
    }
  }

  @media (max-width: 766px) {
    .project {
      .media-body {
        margin-bottom: 20px;

        p {
          display: none;
        }
      }

      .media-object {
        height: 300px;
      }
    }
  }

  @media (min-width: 767px) {
    .project {
      .media-object {
        height: 349px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 979px) {
    .project {
      .media-body {
        margin-bottom: 20px;

        p {
          display: none;
        }
      }
      
      .media-object {
        height: 268px;
      }
    }
  }

  @media (min-width: 1200px) {
    .project {      
      .media-body {
        p {
          display: block;
        }
      }
      .media-object {
        height: 433px;
      }
    }
  }
}
